body {
    font-family: Arial;
    background: #f6f6f6;
    margin: 0;
}

header {
    background: black;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

header button {
    background: white;
    color: black;
    border: none;
    padding: 2px 12px;
    cursor: pointer;
    border-radius: 7px;
}

.products {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.product {
    background: white;
    padding: 15px;
    width: 180px;
    border-radius: 8px;
    text-align: center;
}
.product button {
    background: black;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 7px;
}

.product img { width: 100%; }

.cart-box {
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-item button {
    background: red;
    color: white;
    border: none;
    padding: 3px 7px;
    cursor: pointer;
    border-radius: 5px;

}

.cart-bottom {
    text-align: right;
    margin-top: 15px;
}
.cart-bottom button {
    background: green;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 7px;
}
.orders-list {
    padding: 20px;
}