*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    /* margin: 0;
    background-image: url(background\ blur.png);
    background-size: cover;
    background-position: center;
    filter: blur(2px); */
}
/* nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav1 img{
    height: 400px;
    padding-top: 29px;

}
.nav2{
    display: flex;
    gap: 30px;
}
.nav2 a{
    text-decoration: none;
    color: #636262;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
}
.nav2 a:hover{
    color: #000;
}
.nav2 h4{
    font-size: 16px;
}
.nav2 h5{
    font-size: 20px;
    display: none;
}
@media (max-width:768px) {
    nav{
        padding: 10px 20px;
    }
    .nav2{
        gap: 15px;
    }
    .nav2 a{
        display: none;
    }
    .nav2 h5{
        display: block;
    }
    .nav1 img{
        height: 190px;
        padding-top: 10px;
    }
    .nav2 h4{
        font-size: 14px;
        gap: 10px;
    }
    .nav2 h5{
        font-size: 15px;
    }
    


}




main{
    padding: 50px 90px;
    display: flex;
    /* gap: 50px; */
    justify-content: center;
    align-items: center;
    background-image: url(herobg.jpg);
    background-size: cover;
    background-position: center;

}


@media (max-width:768px) {
    main{
        padding: 20px 20px;
    }
} */



 
  /* login box */
  .login-box {
    background: rgba(255, 255, 255, 0.39); /* light glass effect */
    backdrop-filter: blur(5px);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    width: 50%;
    height: 70%;
    color: rgb(0, 0, 0);
    text-align: center;
    
  }

  .login-box h2 {
    margin-bottom: 25px;
    font-size: 28px;
    color: #000000;
  }
  .login-box img {
    width: 100px;
    margin-bottom: 20px;
  }

  .login-box input {
    width: 50%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #c0bebe;
    border-radius: 5px;
    outline: none;
  }

  .login-box button {
    width: 50%;
    padding: 10px;
    background: #353434;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .login-box button:hover {
    background: #202120;
  }
  .remember {
    display: flex;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px 0 20px 0;
    font-size: 14px;
  } 
  .login-box a {
    color: #000000;
    text-decoration: none;
    
  }
  .remember label {
    color: #000000;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .remember input[type="checkbox"]{
    transform: scale(1.1);
    cursor: pointer;
  }
  .login-box a:hover{
    text-decoration: underline;
  }

  .contact {
    margin-top: 20px;
    font-size: 20px;
}
.contact i {
        color: #000000;
        /* margin: 0 10px; */
        cursor: pointer;
    }
    .contact p {
        margin-top: 15px;
        font-size: 14px;
        color: #353434;
    }
    .contact  a {
        /* color: #000000; */
        color: #353434;
        text-decoration: none;
        font-weight: bold;
    }

    @media (max-width:678) {
      
    }
    footer{
        margin-top: 50px;
        padding: 20px 0;
        text-align: center;
        background-color: #ffffff;
        color: #333;
    }
   
    